
/******************** Flexbox o @media för responsiviteten ********************/
.container {
    display: flex;
    flex-wrap: wrap;
}

.container> div {
    width: 960px; /* rekommenderad bredd för webb 960px eller 1200px */
    height: 0px;
    margin: 0px auto 0px auto;
    /*height: 3350px;*/ /* För att få en längre scrollyta */
    /*background-color: aliceblue;*/
    /*border: 2px solid black;*/
}


.header {
    /*justify-content: center;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;*/
    /*background-image: url("t5.png");*/
    /*opacity: 0.6;*/
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
}

.header {
    width: 960px;
    height: 80px;
    margin: 0px auto 0px auto;
    
    /*background-image: url("bubbor1.jpg");*/
}

/*** media quire till h1 ist för flexbox ***/
/*h1 {
    color: #DADADC;
    font-family:  'Bowlby One SC';
    font-size: 1.3rem;
}*/

/*@media screen and (min-width: 460px) {
    .h1 {
        font-size: 30px;
    }
}*/

.box {
    width: 80px;
    height: 80px;
}

.ledigbox {
    display: inline-block;
    /*background: #5ABE5A;*/
    width: 20px;
    height: 20px;
    margin-top: 12px;
}

.bokadbox {
    display: inline-block;
   /* background: #FF5454;*/
    width: 20px;
    height: 20px;
    margin-top: 12px;
}

.boxtext {
    position: absolute;
    display: inline-block; 
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 15px;
    font-family: 'Allerta';
    font-size: 12px;
}

.loggainut {
    font-family: 'Allerta';
    font-size: 12px;
}

.table1 {
    /*display: flex;
    flex-wrap: nowrap;*/
}

.table1, th, td {
    width: 960px;
    margin: 0px auto 0px auto;
    border: 2px solid #000000;
    border-collapse: collapse;
}

td {
    height: 70px;
}


tbody {
    width: 960px;
}


/******************** Annan vecka *******************/

.vecka{
    border: 2px solid yellow;
}

.veckabtn {
    text-decoration: none;
    display: inline-block;
    font-size: 0.1rem;
    font-family: 'Allerta';
}

@media screen and (min-width: 460px) {
    .veckabtn {
        font-size: 10px;
}
    
#veckatext {
    font-family: 'Allerta';
    font-size: 12px;
    display: inline-block;
        
    }    
    

/***************************************************************************************************/


.tid {
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

.tidh {
    border-left: 1px solid #FFFFFF;
}


.datum {
    position: relative;
    z-index: -1;
    text-align: center;
    font-family:  'Bowlby One SC';
    font-size: 40px;
    color: #DADADC;
    background-color: #FFFFFF;
}


@media screen and (min-width: 430px) {
    .dag {
        position: absolute;
        left: auto;
        right: 0;
    }    
}

.dag {
    width: 150px;
    height: 10px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Allerta';
    color: #000000;
    top: 15px; 
    /*padding-left: 100px;*/
    
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}


/******************** toggle och swap ********************/
.over
{
	background: #FF5454;
    /*background: linear-gradient(to bottom right, #990000, #FF5454);
    background: linear-gradient(#B30000, #FF5454);*/
}
.out
{
	background: #5ABE5A;
    /*background: linear-gradient(to bottom right, green, #5ABE5A);
    background: linear-gradient(#4BA44F, #5ABE5A);*/
}



    
    
    
    